/* Add your CSS here */
body {
  background-color: #000f28;
  text-align: center;
  color: rgb(218, 218, 218);
}

img {
    max-width: 200px;
}

section {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  height: 70%;
  overflow: auto;
}

.card {
  display: inline-block;
  background: #001842;
  color: rgb(218, 218, 218);
  width: 220px;
  height: 230px;
  margin: 0.625rem;
  position: relative;
}

.card h2 {
  font-size: 1.5em;
}

.card h3 {
  font-size: 1.17em;
}

.card p {
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
  margin: 16px;
}

.card:hover p {
  visibility: visible;
  opacity: 1;
}

.card:hover :is(h2, h3, img) {
  opacity: 0.3;
}

.cardHeader {
  margin-top: 12px;
  margin-bottom: 12px;
}

h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

img {
  max-width: 200px;
  max-height: 128px;
}

.sectionheader {
  margin-top: 40px;
}

@media (min-width: 769px) {
    .columns {
      display: inline-flex;
    }
}